* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f9;
  color: #222;
}

.hero {
  background: url('..//Assets/Hero-bg.png') no-repeat center center/cover;
  height: 100vh;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 34px;
  font-weight: bold;
  color: #4E47FF;
}

.signup-btn {
  font-size: 16px;
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}

.hero-content {
  text-align: center;
  margin: auto;
}

.hero-content h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 37px;
  color: #252432;
}

.focus-btn {
  background-color: #4E47FF;
  font-size: 16px;
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}
