* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f9;
  color: #222;
}

.hero {
  background: url('..//Assets/Hero-bg.png');
  height: 986px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 34px;
  font-weight: bold;
  color: #4E47FF;
}

.signup-btn {
  font-size: 16px;
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}

.hero-content {
  text-align: center;
  margin: auto;
}

.hero-content h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 37px;
  color: #252432;
}

.focus-btn {
  background-color: #4E47FF;
  font-size: 16px;
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}

/*action section*/

.action-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  background-color: #f5f8ff;
  font-family: 'Segoe UI', sans-serif;
}

.text-content {
  max-width: 600px;
  margin-right: 200px;
}

.text-content h2 {
  font-size: 42px;
  color: #252432;
  margin-bottom: 16px;
}

.text-content p {
  font-size: 24px;
  max-width: 540px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 24px;
}

.text-content button {
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.image-content img {
  border-radius: 48px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Productive Users Section */

.main-stats {
  background-color: #f5f8ff;
  padding: 80px 20px;
}

.stats-container {
  background-color: #e5e7ff;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  max-width: 1140px;
  margin: auto;
  font-family: 'Arial', sans-serif;
}

.stats-container h2 {
  font-size: 38px;
  font-weight: 700;
  color: #252432;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.stat-box h3 {
  font-size: 80px;
  color: #4E47FF;
  margin: 0;
}

.stat-box p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 6px;
}

/**/
